@import 'assets/styles/font-faces.css';

* {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  --surface-color: #0f1924;
  --surface-secondary-color: #ffffff19;
  --button-gradient: transparent linear-gradient(270deg, #f9737a 0%, #fdb689 100%) 0% 0% no-repeat
    padding-box;
  --white: #f0f0f0;
  --red: #f50000;
}

body {
  background: var(--surface-color);
  color: var(--white);
}

.vino-logo {
  position: absolute;
  top: 37px;
  left: 120px;
  width: 99px;
  height: 87px;
}

.main-nav {
  min-width: 355px;
  height: 100dvh;
  position: sticky;
  top: 0px;
}

.main-nav .footer {
  position: absolute;
  bottom: 0;
  height: 160px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.main-nav .footer .button {
  width: 250px;
  height: 60px;

  gap: 14px;
  justify-content: center;
}

.main-nav .footer .button .icon,
.button-container .button .icon {
  float: left;
}

.platform {
  display: flex;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.content-header {
  height: 126px;
  padding-top: 35px;
  display: flex;
}

.content-header h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 8px;
}

.content-header h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.content-header > div:first-child {
  flex-shrink: 0;
}

.content-card {
  background: var(--surface-secondary-color);
  margin-bottom: 24px;
  width: calc(100% - 24px);
  min-height: calc(100dvh - 190px);
  border-radius: 25px;
}

.searchbar {
  width: 100%;
  float: right;
  top: 35px;
  right: 104px;
  border: unset;
  outline: unset;
  flex-shrink: 0 1;
}

.search-button,
.bell-button {
  height: 39px;
  width: 39px;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  overflow: unset;
  cursor: pointer;
}
.search-button {
  right: 111px;
}

.button {
  background: var(--button-gradient);
  border: unset;
  outline: unset;
  box-shadow: unset;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.button.primary {
  background: var(--button-gradient);
  border-radius: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
  min-width: 200px;
  transition: background-color 0.2s ease-in-out;
}

.button.secondary {
  background: var(--white);
  color: var(--surface-color) !important;
  border-radius: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
  min-width: 200px;
  transition: background-color 0.2s ease-in-out;
}

.button.close {
  background: var(--red);
  border-radius: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 24px;
  cursor: pointer;
  width: 60px;
  transition: background-color 0.2s ease-in-out;
}

.button.close .icon {
  height: 30px;
  width: 30px;
  transform: translateX(-8px);
}

.button:hover:not([disabled]) {
  opacity: 0.8;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.button.transparent {
  background: transparent;
}

.button.text {
  width: auto !important;
  height: auto !important;
  padding: unset;
  margin-bottom: 15px;
}

.group {
  width: 400px;
}

.group .p-checkbox {
  margin-bottom: 21px;
}

.group .p-checkbox-label {
  width: calc(100% - 40px);
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
  line-height: 24px;
}

.group .p-checkbox,
.group .p-checkbox-label {
  float: left;
}

.button.text span,
.group p {
  font-size: 15px;
  font-weight: 300;
}

.search-button img {
  width: 19px;
  height: 19px;
}

.search-input {
  position: relative;
}

.bell-button {
  height: 56px;
  width: 56px;
  background-color: var(--surface-secondary-color);
  position: absolute;
  top: 35px;
  right: 24px;
}

.bell-button img {
  width: 36px;
  height: 36px;
}

.bell-notifications {
  background-color: var(--red);
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -7px;
  left: 40px;
  color: var(--white);
  font-size: 18px;
  line-height: 26px;
}

h1,
h2 {
  margin: unset;
}

.searchbar .p-inputtext {
  height: 56px;
  width: 100%;
  background: var(--surface-secondary-color);
  color: #ffffff4d;
  overflow: unset;
  border: none;
  color: var(--white);
  box-shadow: 0 #3b4045;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  margin-right: 103px;
}

.login .p-inputtext {
  width: 100%;
  height: 65px;
  background-color: #ffffff60;
  margin-bottom: 26px;
  border: unset;
  font-size: 18px;
  padding-left: 27px;
}

.login .p-checkbox-box {
  background-color: #ffffff60;
  border: unset;
}

.login .p-inputtext:focus {
  box-shadow: 0 0 0 2px #ffffff82;
}

.login .p-inputtext::placeholder {
  color: #f0f0f0;
}

.p-autocomplete {
  width: 90%;
  max-width: 420px;
  float: right;
}

.p-inputtext:focus {
  box-shadow: 0 0 0 0.2rem #3b4045;
}

.p-checkbox {
  width: 30px;
}

.p-checkbox-box {
  height: 30px;
  width: 30px;
  box-shadow: unset;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  box-shadow: 0 0 0 2px #ffffff82;
}

.p-disabled {
  opacity: 0.5;
}

.logo-container {
  height: 180px;
  width: 100%;
}

ul li {
  list-style-type: none;
  margin-bottom: 7px;
}

.expandable li {
  margin-top: 7px;
}

ul li a {
  width: 250px;
  height: 56px;
  border-radius: 5px;
  background-color: var(--surface-color);
  transition: background-color 0.2s;
}

ul li a:hover {
  background-color: #27303945;
}

ul li ul {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

ul li ul.my-vino.expand {
  height: 126px;
  overflow: hidden;
}

ul li ul.all-vino.expand {
  height: 252px;
  overflow: hidden;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  height: 56px;
  display: block;
  line-height: 60px;
  padding-left: 36px;
}

nav ul li a.active {
  color: #fc9181;
  background: #ffffff19;
}

/* login */

.login-image {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.login-container,
.otp-container {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 770px;
  height: 100vh;
  backdrop-filter: blur(30px);
  --webkit-backdrop-filter: blur(30px);
  background-color: #ffffff33;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 60px 0;
}

.login-container h1 {
  font-size: 80px;
  color: #ffffff80;
}

.login .vino-logo {
  position: unset;
  width: 110px;
  height: auto;
  opacity: 0.78;
}

.login .logo.margin {
  margin-bottom: 26px;
}

.login-container > p {
  width: 450px;
  font-size: 32px;
  margin-bottom: 70px;
}

.login-container > p::after {
  content: '';
  width: 350px;
  height: 1px;
  transform: translateX(50px);
  margin-top: 21px;
  background: #f0f0f0;
  display: block;
}

.login-container .group:last-child {
  margin-top: auto;
}

.group.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.group.otp {
  width: 460px;
}

.login .button {
  width: 100%;
  height: 65px;
}

.button.register {
  margin-top: 21px;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon.p-icon {
  width: 21px;
  height: 21px;
}

/* HeaderComponent */

.content-header .button-container {
  width: 220px;
  height: 73px;
  display: flex;
  gap: 20px;
  margin-left: 20px;
}
