@import 'assets/styles/font-faces.css';

* {
  font-family: Rubik, sans-serif;
  font-size: 18px;
}

body {
  background: #0f1924;
  color: #f0f0f0;
}

.vino-logo {
  position: absolute;
  top: 37px;
  left: 120px;
  width: 99px;
  height: 87px;
}

.main-nav {
  min-width: 355px;
  height: 100dvh;
  position: sticky;
  top: 0px;
}

.main-nav .footer {
  position: absolute;
  bottom: 0;
  height: 160px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.main-nav .footer .button {
  width: 250px;
  height: 60px;

  gap: 14px;
  justify-content: center;
}

.main-nav .footer .button .icon {
  float: left;
}

.platform {
  display: flex;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

.content-header {
  height: 126px;
  padding-top: 35px;
  padding-left: 24px;
  display: flex;
}

.content-header h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 8px;
}

.content-header h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.content-header > div:first-child {
  flex-shrink: 0;
}

.content-card {
  background: #ffffff19;
  margin-bottom: 24px;
  width: calc(100% - 24px);
  min-height: calc(100dvh - 190px);
  border-radius: 25px;
}

.searchbar {
  width: 100%;
  float: right;
  top: 35px;
  right: 104px;
  border: unset;
  outline: unset;
  flex-shrink: 0 1;
}

.search-button,
.bell-button {
  height: 39px;
  width: 39px;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  overflow: unset;
  cursor: pointer;
}
.search-button {
  right: 111px;
}

.button {
  background: transparent linear-gradient(90deg, #f9737a 0%, #fdb689 100%) 0% 0% no-repeat
    padding-box;
  border: unset;
  outline: unset;
  box-shadow: unset;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.button.secondary {
  background: #ffffff82;
}

.button:hover {
  opacity: 0.8;
}

.button.transparent {
  background: transparent;
}

.button.text {
  width: auto !important;
}

.button.text span {
  font-size: 12px;
  font-weight: 300;
}

.search-button img {
  width: 19px;
  height: 19px;
}

.search-input {
  position: relative;
}

.bell-button {
  height: 56px;
  width: 56px;
  background-color: #ffffff19;
  position: absolute;
  top: 35px;
  right: 24px;
}

.bell-button img {
  width: 36px;
  height: 36px;
}

.bell-notifications {
  background-color: red;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -7px;
  left: 40px;
  color: #f0f0f0;
  font-size: 18px;
  line-height: 26px;
}

h1,
h2 {
  margin: unset;
}

.searchbar .p-inputtext {
  height: 56px;
  width: 100%;
  background: #ffffff19;
  color: #ffffff4d;
  overflow: unset;
  border: none;
  color: #f0f0f0;
  box-shadow: 0 #3b4045;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  margin-right: 103px;
}

.login .p-inputtext {
  width: 400px;
  background-color: #ffffff60;
  margin-bottom: 26px;
  border: unset;
}

.login .p-inputtext:focus {
  box-shadow: 0 0 0 2px #ffffff82;
}

.login .p-inputtext::placeholder {
  color: #f0f0f0;
}

.p-autocomplete {
  width: 90%;
  max-width: 420px;
  float: right;
}

.p-inputtext:focus {
  box-shadow: 0 0 0 0.2rem #3b4045;
}

.logo-container {
  height: 180px;
  width: 100%;
}

ul li {
  list-style-type: none;
  margin-bottom: 7px;
}

.expandable li {
  margin-top: 7px;
}

ul li a {
  width: 250px;
  height: 56px;
  border-radius: 5px;
  background-color: #0f1924;
  transition: background-color 0.2s;
}

ul li a:hover {
  background-color: #27303945;
}

ul li ul {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

ul li ul.my-vino.expand {
  height: 126px;
  overflow: hidden;
}

ul li ul.all-vino.expand {
  height: 252px;
  overflow: hidden;
}

nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 18px;
  height: 56px;
  display: block;
  line-height: 60px;
  padding-left: 36px;
}

nav ul li a.active {
  color: #fc9181;
  background: #ffffff19;
}

/* login */

.login-image {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.login-container {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 770px;
  height: 100vh;
  backdrop-filter: blur(30px);
  --webkit-backdrop-filter: blur(30px);
  background-color: #ffffff60;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 60px 0;
}

.login-container h1 {
  font-size: 80px;
  color: #ffffff80;
}

.login .vino-logo {
  position: unset;
  width: 60px;
  height: auto;
}

.login-container > p {
  width: 250px;
}

.login-container > p::after {
  content: '';
  width: 200px;
  height: 1px;
  transform: translateX(25px);
  background: #f0f0f0;
  display: block;
}

.login-container .group:last-child {
  margin-top: auto;
}

.login .button {
  width: 400px;
}
