@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/Rubik-Bold.ttf);
  font-weight: 700;
}